body
{
    font-family: "Glegoo", "Kameron", "Aleo";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right,#2C6F22 0%, #2C6F22 65%, #FFFFFF 0%, #FFFFFF 35%);
}


h1, a {color: #FFCC00;}

a {text-decoration: none;}

a:hover {color: #F56702;}

p {color: white;}


.nav
{
    display: flex;
    flex-direction: column;
    border-right: #FFCC00 solid 5px;
    padding-right: 2%;
    margin: 0%;
    display: inline-flex;
}

.nav > ul
{
    list-style: none;
    padding: 0%;
}

.header
{
    display: inline-flex;
    margin-left: 1rem;
    flex-direction: column;
    position: absolute;
    top: 50px;
}

#text
{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.img
{
    display: inline-block;
    width: 30%;
    padding-left: 10%;
}

.img > img
{
    border: black solid 5px;
    width: 100%;
}
