body
{
    font-family: "Glegoo", "Kameron", "Aleo";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right,#2C6F22 0%, #2C6F22 65%, #215419 0%, #215419 35%);
}

h1, h2, a {color: #FFCC00;}

a {text-decoration: none;}

a:hover {color: #F56702;}

p {color: white;}

li {color: white;}

.nav
{
    display: flex;
    flex-direction: column;
    border-right: #FFCC00 solid 5px;
    padding-right: 2%;
    margin: 0%;
    display: inline-flex;
}

.nav > ul
{
    list-style: none;
    padding: 0%;
}


.header
{
    display: inline-flex;
    margin-left: 1rem;
    flex-direction: column;
    position: absolute;
    top: 50px;
}

#text
{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 5%;
}

.image
{   
    padding-top: 20%;
    width: 30%;
    display: flex;
    gap: 15%;
    flex-direction: column;
    padding-left: 13%;
}

.imageimage
{
    width: 100%;
    border: black solid 5px;
}

.maindiv
{
    display: flex;
    flex-direction: row;
}

img
{
    border: solid black 5px;
}